body{
    background-color:#222 !important;
    color: white;
}
.card{
    background-color: #5c5a5a;
    color: white;
    padding: 20px;
}
.card-body{
    background-color: #222;
    color: white;
}
.form-group{
    margin: 15px 0px;
}
.table{
    color: white;
}
